 <!-- ======= Footer ======= -->
 <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-info">
            <h3>Edvaldo Filho</h3>
            <p>
              Tv. Sampaio - Mussurunga I Salvador - BA<br>
              CEP: 41490-624<br><br>
              <strong>Telefone: </strong>(71) 99732-5544<br>
              <strong>Email: </strong>developer@edvaldofilho.com.br<br>
            </p>
            <div class="social-links mt-3">
              <a href="https://www.facebook.com/ISCode-110905087102821/" class="facebook"><i
                  class="bx bxl-facebook"></i></a>
              <a href="https://www.instagram.com/iscode_oficial/" class="instagram"><i
                  class="bx bxl-instagram"></i></a>
              <!-- <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a> -->
            </div>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Links Úteis</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Início</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Sobre</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Serviços</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Nossos serviços</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#services">Web Analytics</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#services">Martech</a></li>
            </ul>
          </div>

          <!-- <div class="col-lg-4 col-md-6 footer-newsletter">
          <h4>Our Newsletter</h4>
          <p>Tamen quem nulla quae legam multos aute sint culpa legam noster magna</p>
          <form action="" method="post">
            <input type="email" name="email"><input type="submit" value="Subscribe">
          </form>

        </div> -->

        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong>2021<span> Edvaldo</span>Filho</strong>. Todos os direitos reservados
      </div>
    </div>
  </footer><!-- End Footer -->